.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: #F9F9F9;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background: #215968;
  border-radius: 5px;
  border: none;
  padding: 1em 3em;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.icon {
  background: #215968 center center no-repeat;
  border-radius: 5px;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: baseline;
}

.icon-wave{
  background-image: url('./icons/wave.png');
}

.section-title{
  text-transform: uppercase;
  /* font-family: Roboto, sans-serif; */
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  padding: 24px 16px;
  color: #215968;
}

.section-title .icon{
  margin-right: 15px;
}

.container{
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}